a{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color:$color-primary;
  @include transition_css(all, 0.25s, ease,0s);
  &:hover{
    color:darken($color-primary,5%);
    border-color: darken($color-primary,5%);
  }
}


.link--primary{
  color: $color-primary;
  font-weight: 400;

  @include transition_css(all, 0.25s, ease,0s);
  &:hover{
    color:darken($color-primary,5%);
      border-color: darken($color-primary,5%);
  }


}
