html{
	font-family: 'Catamaran', sans-serif;
	line-height: 1.6;
	font-size: 15px;
	font-weight: 400;
	color:$color-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 2000px;
	margin:0px auto;
	overflow-x: hidden;
}
