input, textarea, form, select{

	font-family: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	border:transparent;
	color: $color-text;

}

textarea{
	resize: vertical;
}


::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $color-text;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $color-text;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $color-text;
}

::placeholder { /* Most modern browsers support this now. */
   color:    $color-text;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: darken($color-text, 25%)!important;
}


select, button, form fieldset, input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
		background: transparent;
		border: none;
}
